h2 {
    margin-top: 20px;
}

.form-control-error {
    border-color: red;
}

.error-message {
    color: red;
}

.btn-active-save, .btn-active-cancel {
    width: 120px;
}


.table {
    margin-top: 20px;
}