/* External */
body {
    background-color:  #ccf5ff;
}
/* .wrapper {
    height: 1000px;
    border: 1px solid;
    background-color: rgb(245, 250, 250);
    margin: 10px 0 0 0;
}

.nav-bar {
    height: 7%;
}

.left-nav-bar {
    width: 20%;
    background-color: rgb(12, 12, 37);
    float: left;
    height: 100%;
}

.right-nav-bar {
    width: 80%;
    height: 100%;
    padding: 0px;
    background-color: white;
    float: left;
     text-align: right; 
    vertical-align: middle;
    line-height: 60px;
} */


.navbar img {
    width: 60%;
    height: 58%;
}

.navbar a {
    width: 5%;
}

.my-content {
    height: 1000px;
    margin-top: 70px;
    border: 0px solid #e4e6e7;
    border-radius: 5px;
    background-color: white;
}


ul {
    list-style-type: none;
    width: auto;
    padding: 0;
    vertical-align: middle;
}

li {
    float: left;
    padding-bottom: 0;
}

li a {
    padding: 7px;
}

.custom-nav {
    height: auto;
}

.my-menu {
    width: 100%;
    margin: 70px 10px 0px 60px;
    padding-left: 0px;
    padding-right: 0px;
    height: 500px;
    border: 0px solid #e4e6e7;
    border-radius: 10px;
}

.my-menu a:link {
    color: #003380;
}   

.my-menu a:hover {
    text-decoration: none;
} 

.my-menu li:hover {
    background-color: lightblue;
} 

.my-menu li {
    height: 45px;
}
