body {
    background-color: rgb(165, 228, 228);
}
.wrapper {
    height: 400px;
    width: 30%;
    background-color: white;
    margin: 100px auto;
    border-radius: 5px;
    border-right: 25px solid;
    border-right-color: #00b8e6;
    padding: 30px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #00b8e6;
}

form div {
    padding: 7px;
}

.text-active {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: rgb(238, 238, 237);
}

.text-active:focus {
    outline-style: solid;
    outline-color: wheat;
    background-color: rgb(185, 185, 178);
}



/* Selector: class */
.login-left {
    width: 50%;
    float: left;
    margin-top: 10px;
}
.login-right {
    width: 42%;
    float: left;
    text-align: right;
    margin-top: 10px;
}
.btn-active {
    width: 100%;
    clear: both;
}

.btn-active button {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    border: 0px ;
    background-color:  #00b8e6;
    margin-top: 5px;
}

form div:first-child {
    color: #56595d;
}

form div:nth-child(3) {
    color: #56595d;
}